
<h1>Team and Heroes are Here!</h1>

<p>Team Name: <%= @team.name %></p>
<p>Team Motto: <%= @team.motto %></p>
<br>
<% @team.heros.each_with_index do |hero, index|%>
<h2>Hero <%= index + 1 %></h2>
<p>Hero's Name: <%= hero[:name] %></p>
<p>Hero's Power: <%= hero[:power] %></p>
<p>Hero's Biography: <%= hero[:biography] %></p>
<br>

<% end %>
