
<h1>Team and Heroes are Here!</h1>

<p>Team name: <%= @team.name %></p>
<p>Team motto: <%= @team.motto %></p>
<br>
<% @team[heros].each_with_index do |hero, index|%>
<h2>Hero <%= index + 1 %></h2>
<p>Hero's Name: <%= hero[:name] %></p>
<p>Hero's Power: <%= hero[:power] %></p>
<p>Hero's Biography: <%= hero[:biography] %></p>
<br>
<% end %>





<h2><%= Hero 1 %></h2>
<p>Hero's Name: <%= @team.heros[1]name %></p>
<p>Hero's Power: <%= @team.heros[1].power %></p>
<p>Hero's Biography: <%= @team.heros[1].biography %></p>
<br>
<h2>Hero 2</h2>
<p>Hero's Name: <%= @team.heros[2].name %></p>
<p>Hero's Power: <%= @team.heros[2].power %></p>
<p>Hero's Biography: <%= @team.heros[2].biography %></p>
<h2>Hero 3</h2>
<p>Hero's Name: <%= @team.heros[3].name %></p>
<p>Hero's Power: <%= @team.heros[3].power %></p>
<p>Hero's Biography: <%= @team.heros[3].biography %></p>
